body {
	background: #707070;
	font-family:  “Gill Sans”, Calibri, “Trebuchet MS”, sans-serif;
	font-size: 100%;
}

/*
#header {
	margin-bottom: 1.5em;
}
*/

#header {
	width: 700px;
	margin: 15px auto;
	/*background: #CCCCCC; */
	background: #F6F6F6;
	padding: 1em 1em 1em;
	border: 1px solid #000;
	box-shadow: 5px 5px 15px 1px #000;
	-moz-box-shadow: 5px 5px 15px 1px #000;
	-webkit-box-shadow: 5px 5px 15px 1px #000;
}

#content {
	width: 700px;
	margin: 15px auto;
	/*background: #CCCCCC; */
	background: #F6F6F6;
	padding: 1em 1em 1em;
	border: 1px solid #000;
	box-shadow: 5px 5px 15px 1px #000;
	-moz-box-shadow: 5px 5px 15px 1px #000;
 	-webkit-box-shadow: 5px 5px 15px 1px #000;

	
}
#footer {
	width: 700px;
	margin: 15px auto;
	background: #CCCCCC; 
	padding: 1em 1em 1em;
	border: 1px solid #000;
	box-shadow: 5px 5px 15px 1px #000;
	-moz-box-shadow: 5px 5px 15px 1px #000;
	-webkit-box-shadow: 5px 5px 15px 1px #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: “Gill Sans”, “Trebuchet MS”, Calibri, sans-serif;
	font-weight: bold;
	color: #A05050;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	line-height: 1;
	padding-bottom: .3em;
}

h2 {
	font-size: 1.2em;
	line-height: .5;
	padding-bottom: .5em;
	color: #306D60;
	
}

h3 {
	margin-top: 1em;
	font-size: 1.3em;
	border-bottom: thin solid #888;
}

h4 {
	font-size: 1.1em;
}

/*
a {color: #104cb6; outline: none; text-decoration: none; }
a:visited {color: #104cb6; }
a:hover, a:focus { color: #406ce6; text-decoration: underline; }
a:active {color: #105c6b; }
*/
a {color: #306D60; outline: none; text-decoration: none; }
a:visited {color: #306D60; }
a:hover, a:focus { color: #42726F; text-decoration: underline; }
a:active {color: #20504E; }

.publication {
	margin-bottom: 1em;
	line-height: 1.1;
}
.title {
	font-weight: bold;
}

.authors {
	display: block;
	font-style: italic;
	padding-left: 2.2em;
}

.venue {
	display: block;
	padding-left: 2.2em;
	padding-bottom: .2em;
}

.abstract a, .abstract a:visited {
	color: #306D60; 
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

#header_info {
	float: left;
	width: 50%;
}
#header_photo {
	float: right;
}

#header_photo img {
	border: 1px solid #000;
	
}

#accordion > a, #accordion > a:visited {
	color: #000000;
}